services:
  backend:
    image: registry.digitalocean.com/main/open-invoice-backend
    build: ./back
    ports:
      - "8493:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI
      - JWT_SECRET
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - SPACE_ACCESS_KEY
      - SPACE_SECRET_KEY
      - SPACE_BUCKET
      - SPACE_ENDPOINT
      - SPACE_REGION
      - EXCHANGE_RATES_API_TOKEN
    restart: always

  frontend:
    image: registry.digitalocean.com/main/open-invoice-front
    build:
      context: ./front
      args:
        - VITE_API_URL
        - GOOGLE_CLIENT_ID=244384199602-sqhor9mc08tkl3gkd71k9c46rq38msdd.apps.googleusercontent.com
    ports:
      - "7482:80"
    depends_on:
      - backend
    restart: always
