name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  frontend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    env:
      GOOGLE_CLIENT_ID: "244384199602-sqhor9mc08tkl3gkd71k9c46rq38msdd.apps.googleusercontent.com"
      VITE_API_URL: "https://api.openinvoice.in"
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: front/pnpm-lock.yaml
      - run: pnpm install
      - run: pnpm run postinstall
      - run: pnpm test

  backend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./back
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: back/pnpm-lock.yaml
      - run: pnpm install
      - run: pnpm test
